body {
    background-color: #404040;
    font-family: 'Lato', sans-serif;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    font-size: 44px;
    color: white;
    font-weight: 900;
    letter-spacing: 3px;
    margin-top: 20px;
}

#nav-menu {
    background-color: #303030;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
}


.option {
    float: left;
    border-right: 2px dotted #444444;
    font-size: 18px;
    color: white;
    opacity: 0.8;
    padding: 10px;
    min-width: 50px;
    height: 25px;
}

.option:hover {
    background-color: black;
    cursor: pointer;
}

.clear {
    clear: both;
}

.bigTitle {
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 2px;
}

.dottedBottomLine {
    border-bottom: 2px dotted #444444;
}

#topbar {
    color: white;
    background-color: #128870;
    margin: 20px 0px 25px 0px;
    height: 170px;
    padding: 10px;
}

#topbar-left {
    padding: 20px;
    float: left;
    border-right: 2px dotted #ccc;
    width: 138px;
    text-align: center;
}

#topbar-right {
    padding: 20px;
    text-align: justify;
    float: left;
    width: 760px;
    font-size: 16px;
}

#content {
    margin: 20px 0px 20px 0px;
}

#content-menu-left {
    background-color: lightgray;
    font-size: 18px;
    float: left;
    width: 148px;
    padding: 20px;
    min-height: 680px;
    border-right: 2px dotted #666;
}

.option2 {
    text-align: center;
    padding: 10px;
    padding: 10px;
    height: 25px;
    font-size: 18px;
}

.option2:hover {
    cursor: pointer;
    background-color: #f36742;
    color: white;
}

#content-right {
    float: left;
    width: 730px;
    background-color: #dedede;
    text-align: justify;
    padding: 40px;
    min-height: 600px;
}

#footer {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}
